*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Gilroy', sans-serif;
}

#main {
    width: 100%;
    /* height: 100%; */
    /* background-color: #27262c; */
    background: linear-gradient(90deg, rgba(43,42,48,1) 0%, rgba(22,21,27,1) 50%, rgba(21,20,26,1) 100%);
}

/* Navigation Styles */

#main #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    /* background-color: paleturquoise; */
    padding: 0 5vw;
}

#nav #logo {
    width: 14.5vw;
    font-family: 'Gilroy', sans-serif;
    color: #fff;
}

#nav #logo h1 {
    font-size: 1.6vw;
    font-weight: 500;
}

#nav #logo h1 span {
    font-size: 1.7vw;
    font-weight: 900;
}

#nav #search {
    display: flex;
    align-items: center;
    width: 30.5vw;
    height: 5vh;
    border-radius: 5vw;
    border: 1px solid rgba(255, 255, 255, 0.575);
    font-family: 'Gilroy', sans-serif;
    /* background-color: antiquewhite; */
}

#nav #search:focus-within {
    border: 1px solid #fff;
}

#nav #search input {
    width: 90%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 5vw;
    padding: 0 2vw;
    font-family: 'Gilroy', sans-serif;
    font-size: 1vw;
    font-weight: 500;
    color: #fff;
}

#nav #search input::placeholder {
    font-family: 'Gilroy', sans-serif;
    font-size: 1vw;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.575);
}

#nav #search input:focus {
    outline: none;
}

#nav #search button {
    width: 10%;
    height: 5vh;
    background-color: transparent;
    border: none;
    border-radius: 5vw;
    cursor: pointer;
}

#nav #search button i {
    font-size: 1.2vw;
    color: rgba(255, 255, 255, 0.575);
}

#nav #nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 37.5vw;
    height: 5vh;
    /* background-color: aquamarine; */
}

#nav #nav-links a {
    font-family: 'Gilroy', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 1vw;
    font-weight: normal;
}

#nav #user {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 7.5vw;
    height: 5vh;
    /* background-color: aqua; */
}

#nav #user i {
    color: #fff;
    font-size: 1.2vw;
}

/* Hero Section Styles */

#main #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10vh 10vw;
    padding-bottom: 1vh;
    color: #fff;
    /* background-color: lavender; */
}

#hero h6 {
    font-size: 1.2vw;
    font-weight: 100;
    color: #d7c19a;
    margin-bottom: 2vh;
}

#hero h1 {
    font-size: 7vw;
    font-weight: 900;
}

#hero h1 span {
    display: inline-block;
}

#hero h1 #inline-img1 {
    width: 10vw;
    height: 5vw;
    margin: 0 0.5vw;
}

#hero h1 #inline-img1 {
    /* width: 10vw;
    height: 5vw; */
    margin: 0 0.5vw;
    background-image: url("https://images.unsplash.com/photo-1637666505754-7416ebd70cbf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80");
    background-size: cover;
    background-position: 0 20%;
    background-repeat: no-repeat;
    border-radius: 5vw;
}

#hero h1 #inline-img2 {
    width: 20vw;
    height: 5vw;
    margin: 0 0.5vw;
}

#hero h1 #inline-img2 {
    /* width: 20vw;
    height: 5vw; */
    margin: 0 0.5vw;
    background-image: url("https://images.unsplash.com/photo-1629946832022-c327f74956e0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80");
    background-size: cover;
    background-position: 0 20%;
    background-repeat: no-repeat;
    border-radius: 5vw;
}

/* Section 2 Styles */

#main #section2 {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 0 10vw;
    /* background-color: lavender; */
}

/* Section 2 Left Styles */

#section2 #left {
    position: relative;
    /* width: calc(100% / 3); */
    width: 30%;
    height: 100%;
    /* background-color: goldenrod; */
}

#left #ltext {
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
    padding-top: 10vh;
    color: #fff;
}

#left #ltext h6 {
    font-size: 1.2vw;
    font-weight: 400;
    text-align: right;
    line-height: 1.2;
}

#left #ltext #lcircle-decor {
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 50%;
    background-color: #fd7c40;
}

#left #lcapsule-large {
    position: absolute;
    bottom: 15%;
    width: 7vw;
    height: 20vw;
    border-radius: 100px;
    background-color: transparent;
    border: 2px solid #fff;
}

#left #lcapsule-small {
    position: absolute;
    bottom: 30%;
    right: 30%;
    width: 5vw;
    height: 2vw;
    border-radius: 100px;
    background-color: transparent;
    border: 2px solid #fff;
}

/* Section 2 Center Styles */

#section2 #center {
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 45%;
    height: 100%;
    /* background-color: pink; */
    padding: 1vh 1vw;
    z-index: 1;
}

#center #img-capsule {
    position: relative;
    width: 30vw;
    height: 90vh;
    border-radius: 20vw;
    /* border: 2px solid red; */
    /* background-image: url("https://images.unsplash.com/photo-1637666505754-7416ebd70cbf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80"); */
    background-image: url(./assets/monkey.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 999;
}

#center #img-capsule2 {
    position: absolute;
    left: 50%;
    width: 25vw;
    height: 80vh;
    border-radius: 20vw;
    background: linear-gradient(-10deg, #d7c29f 0%, #998a71 80%, #463f34 100%);
    background-size: cover;
    background-position: 0 20%;
    background-repeat: no-repeat;
    transform: scale(0.7);
    z-index: -1;
}

/* #center #img-capsule::before {
    content: "";
    position: absolute;
    top: 0;
    left: 15%;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 20vw;
    background-color: lemonchiffon;
} */


/* Section 2 Right Styles */

#section2 #right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 25%;
    height: 100%;
    /* background-color: aqua; */
}

#right #rcircle-large {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
}

#right #rcapsule {
    position: absolute;
    top: -10%;
    width: 4vw;
    height: 12vw;
    border-radius: 100px;
    background-color: transparent;
    border: 2px solid #c9d8b1;
}

#right h6 {
    font-size: 1vw;
    font-weight: 400;
    color: #fff;
}

#right h6 span {
    color: #d7c4a7;
    font-weight: 700;
}

#right #rcircle-small {
    position: absolute;
    bottom: 10%;
    left: 0%;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
}




/* Mobile Responsive Styles  */

@media (max-width: 500px) {
    
    /* Nav Styles */

    #main #nav {
        padding: 0 10vw;
    }
    #main #nav #logo h1 {
        font-size: 5vw;
    }

    #main #nav #logo h1 span {
        font-size: 5vw;
    }

    #main #nav #search {
        display: none;
    }

    #main #nav #nav-links {
        display: none;
    }

    #nav #user {
        width: 30%;
    }

    #nav #user i {
        font-size: 4.5vw;
        margin-left: 5vw;
    }

    /* Hero Section Styles */

    #main #hero {
        padding-top: 7vh;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    #hero h6 {
        font-size: 3vw;
        margin-bottom: 3vh;
        font-weight: 700;
    }

    #hero h1 {
        line-height: 1.5;
        font-size: 9vw;
    }

    #hero h1 #inline-img1 {
        width: 12vw;
        height: 5vw;
    }

    /* Section 2 Mobile Styles */

    #main #section2 {
        flex-direction: column;
        height: auto;
        padding: 0 10vw;
    }

    /* Section 2 Left Styles */

    #section2 #left {
        width: 100%;
        height: 40vh;
        /* background-color: pink; */
    }

    #left #ltext {
        padding-top: 10vh;
    }

    #left #ltext h6 {
        font-size: 4vw;
        line-height: 1.5;
    }

    #left #ltext #lcircle-decor {
        width: 15vw;
        height: 15vw;
    }

    #left #lcapsule-large {
        bottom: -25%;
        width: 20vw;
        height: 50vw;
    }

    #left #lcapsule-small {
        bottom: 0%;
        right: 10%;
        width: 25vw;
        height: 10vw;
    }

    /* Section 2 Center Styles */

    #section2 #center {
        justify-content: center;
        width: 100%;
        height: 70vh;
        padding: 0;
        /* background-color: blue; */
    }

    #center #img-capsule {
        width: 60%;
        height: 60%;
    }

    #center #img-capsule2 {
        width: 60%;
        height: 60%;
        left: 45%;
    }

    /* Section 2 Right Styles */

    #section2 #right {
        width: 100%;
        height: 40vh;
        align-items: center;
    }

    #right h6 {
        font-size: 4vw;
        line-height: 1.5;
    }

    #right h6 span {
        font-size: 4vw;
        line-height: 1;
    }

    #right #rcircle-large {
        top: 0%;
        left: 0%;
        width: 10vw;
        height: 10vw;
    }

    #right #rcapsule {
        top: -30%;
        right: 0%;
        width: 12vw;
        height: 35vw;
    }

    #right #rcircle-small {
        bottom: 5%;
        left: 80%;
        width: 5vw;
        height: 5vw;
    }

}